.passwordWindow_Wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 56px;
  border-radius: 4px;
  border-bottom: 3px solid #83f24c;
  margin-bottom: 40px;
  padding: 8px 5px 8px 15px;
  box-shadow: rgb(184, 185, 184) -1px 4px 10px -1px;
}
.password_text {
  max-width: 360px;
  width: 100%;
  margin-right: 5px;
}

.reboot_icon_button {
  height: 25px;
  margin-top: 5px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  &.animation {
    animation-name: reboot_rotate;
    animation-duration: 0.8s;
  }
}
@keyframes reboot_rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.copy_button {
  background-color: #8dc630;
  color: #fff;
  border-radius: 5px;
  padding: 10px;
  border: none;
  margin-left: 10px;
  margin-right: 3px;
  height: 37px;
  font-size: 8px;
  cursor: pointer;
}
